    body {
      background-position: center center;
      background-repeat:no-repeat;
      background-color: lightblue;
    }

    fieldset {
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 0.35em;
      padding-bottom: 0.625em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      border: 2px groove (internal value);
    }

    .container {
        text-align: center;
    }

    .left-blocks{
        width:400px;
        display:inline-block;
    }

    .right-blocks{
        width:400px;
        display:inline-block;
    }