<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="favicon icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }} ">

    <title>Py_Twitter_Bot--DFIR</title>

</head>

<body>
<div class="container">
    <div class="left-blocks">
        <fieldset>
            <legend>Tweet :</legend>
            <center>
                {{ tweet }}<br/>
                {{ line }} <br/>
            </center>
        </fieldset>

        <fieldset>
            <legend>Photo :</legend>
            <center>
                <img src="{{ bg_photo_url | safe }}" height="300" width="350">
            </center>
        </fieldset>
    </div>
    <div class="right-blocks">
        <fieldset>
            <legend>DFIR Stream :</legend>
            sdfljsdklfjslkdf<br>
            sdfsdf <br>
            lkjsdflkjsdf <br>
            sfdsdf <br>
        </fieldset>
    </div>
</div>
</body>
</html>