<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="favicon icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    <title>DFIR-Realtime Dashboard (Twitter Bot)</title>

</head>

<body>

<center><h1>DFIR-Realtime Dashboard</h1></center>


<div class="container">
    <div class="left-blocks">
        <fieldset>
            <legend>Last Tweet :</legend>
            <center>
                {{ tweet }}<br/>
            </center>
        </fieldset>

        <fieldset>
            <legend>Photo :</legend>
            <center>
                <img src="{{ bg_photo_url | safe }}" height="300" width="350">
            </center>
        </fieldset>
    </div>
    <div class="right-blocks">
        <fieldset>
            <legend>Date and Time : </legend>
            <b>{{ moment().format('MMMM Do YYYY, h:mm A') }}</b>
        </fieldset>
        <fieldset>
            <legend>Last 05 DFIR Tweets :</legend>
            {% for tweet in tweets %}
            {{ tweet }}<br><hr>
            {% endfor %}
        </fieldset>
    </div>
</div>
</body>
</html>